<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/css/loginStyle.css">
	<link rel="stylesheet" type="text/css" href="/fontawesome-free/css/all.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="login-content">
		<form >
			<img src="/assets/avatar.svg" id="cong">
			<h2 class="title" >Welcome</h2>
			<div class="input-div one">
				<div class="icon">
					<i class="fas fa-user-shield"></i>
				</div>
				<div class="div">
					<h5>Username</h5>
					<input type="text" id = "user" class = "input">
				</div>
			</div>
			<div class="input-div pass">
				<div class="icon"> 
					<i class="fas fa-key"></i>
				</div>
				<div class="div">
					<h5>Password</h5>
					<input type="password" id = "pass" class = "input">
				</div>
			</div>
		
			<a id = 'erroNotification'><a>
			<button type="button" class="btn"  >Đăng Nhập </button>
		</form>
	</div>
</div>
    <script type="text/javascript" src="/js/login.js"></script>
</body>
</html>
	