<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Document</title>
</head>
<body>
    <div class="modal">
        <div class="modal__overlay"></div>
        <div class="modal__body">
            
            <!-- Registration form -->
            <div class="auth-form" >
                <div class="auth-form__container">
                    <div class="auth-form__header">
                        <h3 class="auth-form__heading">Đăng kí</h3>
                        <span class="auth-form__switch-btn">Đăng nhập</span>
                    </div>
                    <div class="auth-form__form">
                        <div class="auth-form__group">
                            <input type="text" class="auth-form__input" placeholder="Nhập tên của bạn" name="fullname" id = '1'>
                        </div>
                        <div class="auth-form__group">
                            <input type="text" class="auth-form__input" placeholder="Nhập số điện thoại của bạn" name="phone">
                        </div>
                        <div class="auth-form__group">
                            <input type="text" class="auth-form__input" placeholder="Nhập email của bạn" name="email">
                        </div>
                        <div class="auth-form__group">
                            <input type="password" class="auth-form__input" placeholder="Nhập mật khẩu của bạn" name="password">
                        </div>
                        <div class="auth-form__group">
                            <input type="password" class="auth-form__input" placeholder="Nhập lại mật khẩu của bạn" name="repassword">
                        </div>
                    </div>
                    <div class="auth-form__aside">
                        <p class="auth-form__policy-text">
                            Bằng việc đăng kí bạn đã đồng ý với shop về
                            <a href="" class="auth-form__text-link">Điều khoản dịch vụ</a>
                            <a href="" class="auth-form__text-link">Điều khoản bảo mật</a>
                        </p>
                    </div>
                    <div class="auth-form__control">
                        <button class="btn btn--normal auth-form__control-back ">TRỞ LẠI</button>
                        <button class="btn btn--primary" onclick = "checksummit(this)" >ĐĂNG KÍ</button>
                    </div>
                </div>
                
               
            <script src="/js/singin.js"></script>
            </div>
            <!-- Login form  -->
            {{!-- <div class="auth-form">
                <div class="auth-form__container">
                    <div class="auth-form__header">
                        <h3 class="auth-form__heading">Đăng nhập</h3>
                        <span class="auth-form__switch-btn">Đăng kí</span>
                    </div>
                    <div class="auth-form__form">
                        <div class="auth-form__group">
                            <input type="text" class="auth-form__input" placeholder="Nhập email của bạn">
                        </div>
                        <div class="auth-form__group">
                            <input type="password" class="auth-form__input" placeholder="Nhập mật khẩu của bạn">
                        </div>
                    </div>
                    <div class="auth-form__aside">
                        <div class="auth-form__help">
                            <a href="" class="auth-form__help-link auth-form__help-forgot">Quên mật khẩu</a>
                            <span class="auth-form__help-sepatate"></span>
                            <a href="" class="auth-form__help-link">Cần trợ giúp?</a>
                        </div>
                    </div>
                    <div class="auth-form__control">
                        <button class="btn btn--normal auth-form__control-back ">TRỞ LẠI</button>
                        <button class="btn btn--primary">ĐĂNG NHẬP</button>
                    </div>
                </div>
                
                <div class="auth-form__socials">
                    <a href="" class="auth-form__socials--facebook btn btn--size-s btn--switch-icon ">
                        <i class="fab fa-facebook-square auth-form__socials-icon" ></i>
                        <span class="auth-form__socials-title">
                            Đăng nhập với Facebook
                        </span>
                    </a>
                    <a href="" class=" auth-form__socials--google btn btn--size-s btn--switch-icon">
                        <i class="fab fa-google auth-form__socials-icon"></i>
                        <span class="auth-form__socials-title">
                            Đăng nhập với Google
                        </span>
                    </a>

                </div>
            </div>

            
        </div> --}}
    </div>
</body>
</html>

