<div class="mt-4">
    <form method="POST" action="">
  <div class="form-group">
    <label for="exampleInputEmail1">Key word</label>
    <input type="text" class="form-control" name = "q" id="seacrh-input"  placeholder="Key word">
    {{!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> --}}
  </div>
  
  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>